* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start of navigation styling */
.navigation {
    align-items: center; 
    background-color: transparent;
    display: flex; 
    justify-content: space-between;
    position: relative;
}

.navigation-links {
    height: 100%;
  }
  
.navigation-links ul {
  display: flex; 
  margin-left: 170px;
  padding: 0px;
}
  
.navigation-links li {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
}
  
.navigation-links li a {
  color: #100C08;
  display: block;
  padding: 18px;
  text-decoration: none;
}
  
.navigation-links li:hover {
  font-weight: 700;
}
  
/* Hamburger menu for responsive web design */ 
.toggle-button {
  flex-direction: column; 
  display: none; 
  height: 20px;
  justify-content: space-between;
  position: absolute;
  right: 16px; 
  top: 12px; 
  width: 30px;
}
  
.toggle-button .bar {
  background-color: #100C08;
  border-radius: 3px; 
  height: 3px;
  width: 100%;
}
  
/* Media query when conditions inside are met (screen size <600px run the following code from lines 89-119. */
@media (max-width: 600px) {
  .toggle-button {
    display: flex;
    }

  .navigation-links {
    display: none;
    width: 100%;
    }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    }
  
  .navigation-links ul {
    flex-direction: column;
    width: 100%;
    }

  .navigation-links ul li {
    text-align: left;
    }
  
  .navigation-links li a {
    padding: 8px 16px;
    }
  
  
  .navigation-links.active {
    display: flex;
    }
}

/* Start of landing page content styling */
.wrapper {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.content {
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h1 {
  color:  black;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 60px;
  margin-bottom: 30px;
}

.contactLinks {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: auto;
}

.contactLinks a {
  position: relative;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.contactLinks a:not(:last-child) {
  margin-right: 50px; 
}

.contactLinks a:hover {
  transform: scale(1.2);
}

/* Start of blob background styling */
.shape:nth-of-type(1) {
  width: 400px;
  height: 400px;
  left: 150px;
  top: -80px;
  background: #1A8FE3;
  animation: wave 8s ease-in-out infinite;
}

.shape:nth-of-type(2) {
  width: 800px;
  height: 800px;
  background: #E6C229;
  position: absolute;
  top: -200px;
  left: -400px;
  z-index: -1;
  animation: wave 8s ease-in-out infinite;
}

.shape:nth-of-type(3) {
  width: 500px;
  height: 500px;
  background: #17E9E0;
  position: absolute;
  bottom: -25%;
  right: -5%;
  z-index: -1;
  animation: wave 10s ease-in-out infinite;
}

.shape:nth-of-type(4) {
  width: 250px;
  height: 250px;
  background: #6610F2;
  position: absolute;
  bottom: -120px;
  left: 50%;
  z-index: -1;
  animation: wave 8s ease-in-out infinite;
}

.shape:nth-of-type(5) {
  width: 350px;
  height: 350px;
  background: #F17105;
  position: absolute;
  top: -8%;
  right: 10%;
  z-index: -1;
  animation: wave 6s ease-in-out infinite;
}

.shape:nth-of-type(6) {
  width: 100px;
  height: 100px;
  background: #D11149;
  position: absolute;
  top: 10%;
  right: 68%;
  z-index: -1;
  animation: wave 6s ease-in-out infinite;
  transform: rotate(10deg);
}

/* Blob shape */
@keyframes wave {
  0%, 100% {
    border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%
  }
  60% {
    border-radius: 25% 75% 50% 50% / 25% 50% 45% 80%
  }
}

 /* Start of about me styling */
.aboutMe {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}

@media (min-width: 600px) {
  .aboutMe {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas: 
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 20px;
  }

  .sectionTitleAbout {
    grid-area: title;
    position: relative;
    left: -20px;
    padding-left: 20px;
  }

  .sectionSubTitle {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .aboutMeImage {
    grid-area: img;
    position: relative;
  }
}

.sectionTitleAbout {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 60px;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sectionSubTitle {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.aboutMeBody {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.aboutMeImage {
  padding-top: 60px;
  border-radius: 3px;
}

/* Start of projects styling */
.myWork {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.sectionTitle {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 60px;
  margin-top: 60px;
}

.sectionSubtitle {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 12px;
  grid-column-gap: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

.portfolio__item {
  background: white;
  overflow: hidden;
  border-radius: 3px;
}

.portfolio__img {
  will-change: transform;
  transition: transform 450ms;
  border-radius: 3px;
}

.portfolio__img:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
  border-radius: 3px;
  opacity: .75;
}

.imageDescription {
  text-decoration: none;
  color: #100C08;
  position: relative;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}